# SQL

### Date, time built-in functions
-DATE: YYYYMMDD <br>
-TIME: HHMMSS <br>
-TIMESTAMP: YYYYXXDDHHMMSSZZZZZ <br>

SELECT DAY(saledate)<br>
FROM petsale<br>
WHERE animal='cat';

SELECT COUNT(* ) from petsale<br>
WHERE MONTH(saledate)='05';

SELECT (saledate + 3 DAYS)<br>
FROM petsale;

SELECT (CURRENT_DATE - saledate) <br>
FROM petsale;

### Sub-Queries

SELECT *<br>
FROM table1<br>
WHERE salary < <br>
(  SELECT AVG(salary)<br>
   FROM table1);

#### Column expressions

SELECT emp_id, salary,<br>
(SELECT AVG(salary) FROM employees) as avg_salary<br>
FROM employees;

#### Joins

SELECT * FROM employees, departments<br>
WHERE employees.dep_id = departments.dept_id_dep;

Inner join: intersection

Left outer join: right table side will have none values <br>
Right outer join: Left table side will have none values <br>
Full outer join: Both tables sides will gave none values

#### dbmodule

In [ ]:
from dbmodule import connect

# Create the connection
connection = connect('databasename', 'username', 'password')

# Create cursor
cursor = connection.cursor()

# Run queries
cursor.execute('SELECT * FROM mytable')
Results = cursor.fetchall()

# Free resources
cursor.close()
connection.close()

#### ibm_db

In [ ]:
!pip install ibm_db

In [ ]:
import ibm_db

# First, get credentials from IBM: Db2 -> Service Credentials -> New Credentials ->
dsn_hostname = "dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net"
dsn_uid = "rdj81688"
dsn_pwd = "289xd1lw-zfjsj09"
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_port = "50000"
dsn_protocol = "TCPIP"

In [ ]:
# Create database string
dsn = f"""
    DRIVER={dsn_driver};
    DATABASE={dsn_database};
    HOSTNAME={dsn_hostname};
    PORT={dsn_port};
    PROTOCOL={dsn_protocol};
    UID={dsn_uid};
    PWD={dsn_pwd};
    """

print(dsn)

In [ ]:
# Create database connection
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

In [ ]:
# Retrieve metadata from server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

In [ ]:
# Retrieve metadata from database client
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

In [ ]:
stmt = ibm_db.exec_immediate(conn, 
"""
SELECT * FROM EMPLOYEES
""")

In [ ]:
ibm_db.fetch_both(stmt)

In [ ]:
ibm_db.close(conn)

#### Pandas ibm_db_dbi

In [ ]:
import pandas as pd
import ibm_db_dbi
pconn = ibm_db_dbi.Connection(conn)
df = pandas.read_sql('SELECT * FROM table', pconn)

#### Accessing Db2 database with magic method

In [ ]:
!pip install ipython-sql

In [ ]:
!pip install ibm_db_sa

In [ ]:
%load_ext sql

In [ ]:
%sql ibm_db_sa://rdj81688:289xd1lw-zfjsj09@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB

In [ ]:
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Australia', 'Eduard', 'Leipelt', 53)

In [ ]:
country = 'Canada'
%sql select * from table where country = :country

In [ ]:
result = %sql SELECT testscore as "Test Score", count(*) from table ;

#### Pandas, ibm_db and matplotlib some magic

In [ ]:
%load_ext sql

In [47]:
import ibm_db_sa

In [ ]:
%sql ibm_db_sa://rdj81688:289xd1lw-zfjsj09@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB

In [ ]:
# Checking the number of records
%sql SELECT COUNT(*) FROM table;

In [50]:
# Creating a quick plot

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

first_vs_second = %sql SELECT x, y FROM table;
plot = sns.jointplot(x = 'x', y = 'y', data = first_vs_second.DataFrame())